/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
.header {
  background-color: #26d0c9;
  height: 90px;
}
.header h1 {
  color: #fff;
  font-size: 36px;
  padding: 20px 40px;
  font-weight: normal;
  float: left;
}
.header ul {
  /*display: inline-block;*/
}
.header li {
  display: inline-block;
  line-height: 90px;
}
.header li a {
   text-decoration: none;
  padding: 33px 20px;
  color: #fff;
}

/*main*/
main .catch {
  padding: 100px 80px 0;
}
.catch h1 {
  font-size: 140px;
}
.catch h1 span {
  color: #ff4a4a;
}
.catch h2 {
  font-size: 60px;
}

/*lessons*/
main .lessons {
  padding: 100px 80px;
  height: 500px;
}
.lessons h3 {
  font-size: 28px;
  padding: 15px 0;
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 50px;
}
div.contents {
  display: flex;
}
.content img {
 margin: 0 40px 30px 0; 
}
.content p {
  font-size: 24px;
}

/*contact*/
main .contact {
  padding:0  80px 100px;
}
.contact h3 {
  font-size:28px;
  padding-bottom: 15px;
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 50px;
}
.form p  {
  margin: 0;
  padding: 0;
}
.form input, .form textarea {
  font-size: 18px;
  width: 400px;
  padding: 20px;
  margin: 10px 0 30px;
  border: 1px solid #dee7ec;
}
.form .submit {
  font-size: 18px;
  color:#889eab;
  background-color: #dee7ec;
}

/*footer*/
footer {
  background: #2f5167;
  height: 120px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.footer-top {
  font-size: 32px;
  color: #fff;
}
.footer-list a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 20px;
}




